@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
body{
    font-family: 'Lato', sans-serif ,cursive;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-image: linear-gradient(gold,purple);
}
.clock{
    align-items: center;
    position: absolute;
    top: 60%;
    left: 35%;
    color: aqua;
    font-size: 50px;
}
